@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1:#D2D682 ;
    --cor2:black;
    --cor3:#f0f0f0;
    --fonte-padrao: 'Poppins', sans-serif;	
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor3);
    color: var(--cor2);
}

header {
    background-color: var(--cor2);
    padding: 10px 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.vazio{
    margin-left: 80px;
}

.centro{
    display: flex;
    flex-direction: column;
}

.centro > img {
    height: 100px;
    width: 250px;
    height: 70px;
}
.whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsapp i{
    font-size: 70px;
    margin-right: 80px;
    color: #25D366;
}

.whatsapp i:hover {
    color: #25D366;
    transition-duration: 1s;
    font-size: 75px;   
    text-shadow: 0 0 10px #25D366;
    margin-right:75px;
}

nav {
    background-color: var(--cor2);
    padding: 10px 0 0 0;
}

nav a {
    color: var(--cor1);
    text-decoration: none;
    font-size: 1em;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--cor1);
    color: var(--cor2);
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 1000ms;
    padding: 2px;
    
}

main {
    background-color: var(--cor3);
}

section.sobre{
    background-image: url(imagens/background-sobre-mundial\ \(3\).jpg);
    height: 850px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}

.texto-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D2D682;
    height: 850px;
    width: 510px;
    font-size: 1.4em;
    line-height: 1.5em;
}

.texto-sobre p {
    margin: 0 10px;
    width: 400px;
}


section.lojas {
    text-align: center;
}

section.lojas > h1 {
    color: var(--cor2);
    font-size: 3em;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
}

.img-lojas {
    display: flex;
    justify-content: space-around;
    margin-top:60px
}
.img-lojas a{
    text-decoration: none;
}

.loja1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.loja2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.loja3{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.loja4{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.loja1 img{
    border: 4px solid var(--cor2);
    width:400px;
    height:250px;
    margin-bottom: 30px;
}
.loja2 img{
    border: 4px solid var(--cor2);
    width:400px;
    height:250px;
    margin-bottom: 30px;
}
.loja3 img{
    border: 4px solid var(--cor2);
    width:400px;
    height:250px;
    margin-bottom: 30px;
}
.loja4 img{
    border: 4px solid var(--cor2);
    width:400px;
    height:250px;
    margin-bottom: 30px;
}
.img-lojas button{
    background-color: var(--cor1);
    color: var(--cor2);
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px 20px;
    border: 2px solid var(--cor2);
    border-radius: 50px;
    cursor: pointer;
    width: 180px;
    height: 80px;
}

.loja1 a{
    position: absolute;
    bottom: 40px;
}
.loja2 a{
    position: absolute;
    bottom: 40px;
}
.loja3 a{
    position: absolute;
    bottom: 40px;
}
.loja4 a{
    position: absolute;
    bottom: 40px;
}

.divisao{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: var(--cor1);
    padding: 20px 0;
    margin-top: 100px;
}
.divisao p{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--cor2);
}

section.clientes{
    text-align: center;
}

section.clientes > h1 {
    color: var(--cor2);
    font-size: 3em;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
}

.background-clientes{
    background-image: url(imagens/background-clientes.jpg);
    background-size: cover;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.avaliacoes{
    background-color: var(--cor1);
    height: 800px;
    display: flex;
    width: 1650px;
    border-radius: 30px;
    padding: 10px;
}

footer {
    text-align: center;
}

footer h1 {
    color: var(--cor2);
    font-size: 3em;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.box-whatsapp {
    background-color: #25D366;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
    padding: 6px;
}

.box-facebook {
    background-color: #3b5998;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
    padding: 6px;
}

.box-instagram {
    background-color: #C13584;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
    padding: 6px;
}

.contato img {
    width: 300px;
    height: 100px;
    margin-top: 50px;
}

@media screen and (max-width: 1024px) {
    header {
        flex-direction: row;
        height: 100px;
        justify-content: space-evenly;
    }

    .vazio{
        margin-left: 30px;
    }
    .centro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .centro > img {
        width: 200px;
        height: 70px;
        
    }

    .whatsapp{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .whatsapp i{
        font-size: 40px;
        margin-right: 0;
    }

    nav a {
        margin: 10px 0;
    }

    section.sobre {
        flex-direction: column;
        height: 500px;
        background: none;
    }

    .texto-sobre {
        width: 100%;
        height: 500px;
        font-size: 1.4em;
    }

    .texto-sobre p {
        width: 100%;
        font-size: 0.9em;
    }

    section.lojas > h1 {
        font-size: 2em;
    }

    .img-lojas {
        flex-direction: column;
    }

    .img-lojas button {
        width: 100px;
        height: 50px;
        font-size: 1em;
    }

    .loja1 img{
        width: 300px;
        height: 200px;
    }
    .loja2 img{
        width: 300px;
        height: 200px;
    }
    .loja3 img{
        width: 300px;
        height: 200px;
    }
    .loja4 img{
        width: 300px;
        height: 200px;
    }

    .divisao p{
        font-size: 1em;
    }

    section.clientes > h1 {
        font-size: 2em;
    }

    .background-clientes {
        display: flex;
        min-height: 1000px;
    }

    .avaliacoes {
        min-height: 950px;
        width: 100%;
        overflow: scroll;
    }

    footer h1 {
        font-size: 2em;
    }

    footer ul {
        flex-direction: column;
    }

    .contato img {
        width: 200px;
        height: 70px;
    }
    
}

